<div id="top-menu" class="navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("ЗА НАС", "About", "Home")</li>
                <li>@Html.ActionLink("НОВИНИ", "Index", "News")</li>
                <li>@Html.ActionLink("ЕКИП", "About", "Home")</li>
                <li>@Html.ActionLink("УЧЕНИЦИ", "About", "Home")</li>
                <li>@Html.ActionLink("РЕСУРСИ", "Index", "Resources")</li>
                <li>@Html.ActionLink("КОНТАКТИ", "About", "Home")</li>
                <li>@Html.ActionLink("ФОРУМ", "About", "Home")</li>
            </ul>
        </div>
    </div>
</div>
